<div class="d-flex justify-content-center py-3">
    <h1 class="text-center fw-bold">Welcome in Alby Intelligence</h1>
</div>
<button class="btn btn-primary mx-4 my-4" style="top: 0; right: 0; position: absolute" id="updateIndexBtn">Update index</button>

<div class="text-center">
    <h6>A simple project to mimic Apple Intelligence with Symfony and the ChatGPT API</h6>
</div>
<header class="text-center flex justify-around my-4">
    <a
        id="home"
        class="btn {% if table_id == 0 %} btn-dark {% else %} btn-outline-dark {% endif %} menuItems"
        href="{{ path('dashboard_url') }}"
        role="button"
        aria-current="page"
    >Home</a>
    <a
        id="contacts"
        class="btn {% if table_id == 1 %} btn-dark {% else %} btn-outline-dark {% endif %} menuItems"
        href="{{ path('list_url', {id: 1}) }}"
        role="button"
        aria-current="page"
    >Contacts</a>
    <a
        id="emails"
        class="btn {% if table_id == 2 %} btn-dark {% else %} btn-outline-dark {% endif %} menuItems"
        href="{{ path('list_url', {id: 2}) }}"
        role="button"
        aria-current="page"
    >Emails</a>
    <a
        id="messages"
        class="btn {% if table_id == 3 %} btn-dark {% else %} btn-outline-dark {% endif %} menuItems"
        href="{{ path('list_url', {id: 3}) }}"
        role="button"
        aria-current="page"
    >Messages</a>

    <a
        id="notes"
        class="btn {% if table_id == 4 %} btn-dark {% else %} btn-outline-dark {% endif %} menuItems"
        href="{{ path('list_url', {id: 4}) }}"
        role="button"
        aria-current="page"
    >Notes</a>
    <a
        id="events"
        class="btn {% if table_id == 5 %} btn-dark {% else %} btn-outline-dark {% endif %} menuItems"
        href="{{ path('list_url', {id: 5}) }}"
        role="button"
        aria-current="page"
    >Events</a>
    <a
        id="reminders"
        class="btn {% if table_id == 6 %} btn-dark {% else %} btn-outline-dark {% endif %} menuItems"
        href="{{ path('list_url', {id: 6}) }}"
        role="button"
        aria-current="page"
    >Reminders</a>
    <a
        id="calendar"
        class="btn {% if table_id == 7 %} btn-dark {% else %} btn-outline-dark {% endif %} menuItems"
        href="{{ path('list_url', {id: 7}) }}"
        role="button"
        aria-current="page"
    >Calendar</a>
    <a
        id="tasks"
        class="btn {% if table_id == 8 %} btn-dark {% else %} btn-outline-dark {% endif %} menuItems"
        href="{{ path('list_url', {id: 8}) }}"
        role="button"
        aria-current="page"
    >Tasks</a>
    <a
        id="notifications"
        class="btn {% if table_id == 9 %} btn-dark {% else %} btn-outline-dark {% endif %} menuItems"
        href="{{ path('list_url', {id: 9}) }}"
        role="button"
        aria-current="page"
    >Notifications</a>
    <a
        id="locations"
        class="btn {% if table_id == 10 %} btn-dark {% else %} btn-outline-dark {% endif %} menuItems"
        href="{{ path('list_url', {id: 10}) }}"
        role="button"
        aria-current="page"
    >Locations</a>
</header>
