{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ tableName }}
{% endblock %}

{% block modals %}
    {% include('modals/add_new_row_modal.html.twig') %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-auto">
                <button
                    type="button"
                    class="btn btn-outline-dark"
                    data-bs-toggle="modal"
                    data-bs-target="#addNewRowModal"
                    id="addNewRowBtn">Add new</button>
            </div>
        </div>
        <div class="row mt-4">
            <table class="table table-hover table-bordered table-striped border-dark" id="listTable">
                <thead>
                    <tr>
                        {% for column in columns %}
                            <th scope="col">{{ column }}</th>
                        {% endfor %}
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            {% for column, value in row %}
                                <td>
                                    {% if column matches '/date/i' %}
                                        {{ value|date("d-m-Y") }}
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td>
                                <button class="btn btn-outline-danger removeRow" data-id="{{ row.id }}">Remove</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block js %}
    {{ parent() }}
    {{ include('js/list.js.twig') }}
{% endblock %}
