{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ tableName }}
{% endblock %}

{% block modals %}
    {% include('modals/add_new_row_modal.html.twig') %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-auto">
                <button
                    type="button"
                    class="btn btn-outline-dark"
                    data-bs-toggle="modal"
                    data-bs-target="#addNewRowModal"
                    id="addNewRowBtn">Add new</button>
            </div>
        </div>
        <div class="row mt-4">
            <table class="table table-hover table-bordered table-striped border-dark" id="listTable">
                <thead>
                    <tr>
                        {% for column in columns %}
                            <th scope="col">{{ column }}</th>
                        {% endfor %}
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            {% for column, value in row %}
                                <td>
                                    {% if column matches '/date/i' %}
                                        {{ value|date("d-m-Y") }}
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td>
                                <button class="btn btn-outline-danger removeRow" data-id="{{ row.id }}">Remove</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
        $("#saveBtn").on("click", function (){
            let formData = $("#addNewRowForm").serializeArray();
            let dataObject = {};

            $.each(formData, function(i, field){
                dataObject[field.name] = field.value;
            });

            dataObject.tableName = '{{ tableName }}';
            dataObject.table_id = '{{ table_id }}';

            $.ajax({
                url: '{{ path('addNewRow_url') }}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(dataObject),
                success: function(response) {
                    showAlert('Success! Data sent successfully.', 'success');
                },
                error: function(xhr, status, error) {
                    showAlert('Error! Failed to send data.', 'danger');
                },
                complete: function() {
                    $('#addNewRowModal').modal('hide');
                    location.reload();
                }
            });
        });

        $(document).on('click', '.removeRow', function() {
            let rowId = $(this).data('id');

            // Proceed with your AJAX call to remove the row from the database
            $.ajax({
                url: '{{ path('delete_row_url') }}', // Adjust this to your actual route
                type: 'POST',
                data: {
                    id: rowId,
                    tableId: {{ table_id }}
                },
                success: function(response) {
                    showAlert('Row removed successfully!', 'success');
                },
                error: function(xhr, status, error) {
                    showAlert('Error removing row!', 'danger');
                },
                complete: function () {
                    $(this).closest('tr').remove();
                    location.reload();
                }
            });
        });
    </script>
{% endblock %}
